### Everything needed for development

# Almost everything needed for production is also needed in development
-r requirements.txt

# Code linting using flake8 with extensions
-r requirements-flake8.txt

# Code formatting
black

# Terminal colors
colorama

# Type linting
mypy

# For locking dependencies
pip-tools

# Unit testing
pytest
pytest-mock
pytest-watch
pytest-xdist

# Mocking of HTTP requests in tests
responses

# Test runner
tox
